{% extends "base.html" %}

{% block content %}

<div class="panel">
  <h1>Recept {{ recept.naam }}</h1>

  {% for foto in recept.fotos.all %}
    <div>
      <img src="{{ MEDIA_URL }}{{ foto.image.name }}" width=250 style="float: center"/>
    </div>
  {% endfor %}

  <div style="clear: both;">
    <h3>Informatie</h3>
    <ul>
      <li>Door: {{ recept.user.username }}</li>
      <li>Bereidingstijd: {{ recept.bereidingstijd }} min.</li>
      <li>{{ recept.aantal_personen }} personen</li>
      <li>{{ recept.doel.all|join:", " }}</li>
      {% if recept.seizoen %}<li>Seizoen: {{ recept.seizoen }}</li>{% endif %}
      {% if recept.vegetarisch %}<li>Vegetarisch</li>{% endif %}
    </ul>
  </div>

  <div>
    <h3>Ingredienten</h3>
    <p>
      Aantal personen: <input type="text" id="aantal_personen" value={{ recept.aantal_personen }} /> <input type="button" id="changenumpersons" value="Pas aan" />
    </p>
    <p>
      <ul id="ingredientenlijst">
        {% for hoeveelheid in hoeveelheden %}
          <li class="quantity">{{ hoeveelheid.ingredient }}: {{ hoeveelheid.hoeveelheid }}</li>
        {% endfor %}
      </ul>
    </p>
  </div>

  <div>
    <h3>Bereiding</h3>
    <p>{{ recept.bereiding|safe }}</p>
  </div>
  
  <div>
    <h3>Nota's</h3>
    <div id="notas">
    {% if notas|length > 0 %}
    {% for nota in notas %}
      <div id="nota-{{nota.pk}}" class="nota">
      {{ nota|safe }}
      <input type="button" value="Verwijder" onclick="verwijderNota({{nota.pk}})" />
      </div>
    {% endfor %}
    {% endif %}
    </div>
    
    <form> {% csrf_token %}
      <textarea id="nota" class="ckeditor"></textarea>
      <p><input id="submitnote" type="button" value="Voeg Nota Toe" /></p>
    </form>
  </div>
  
  {% if user.pk == recept.user.pk %}
  <ul class="nobullets">
    <!-- Do this with form to counter CSRF attack -->
    <li><a href="/edit_recipe/{{ recept.pk }}">Edit recipe</a></li>
    <li><a href="javascrip.void(0)" id="delete">Delete recipe</a></li>
  <ul>
  <div class="dialog">
    Delete this recipe?
    <p>
      <a href="/delete_recipe/{{ recept.pk }}" id="yes">Yes</a>
      <a href="javascript.void(0)" id="no">No</a>
    </p>
  </div>
  {% endif %}
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('#delete').click(function(){
    $('div.dialog').show();
    return false;
  });
  $('#no').click(function(){
    $('div.dialog').hide();
    return false;
  });
});
</script>

<!-- Changing the quantities of the ingredients based on the number of 
persons entered -->
<script type="text/javascript">
$(document).ready(function() {
  $('#changenumpersons').click(function() {
    var numPersons = $('#aantal_personen').val();
    if (numPersons != null && numPersons != "") {
      var url = "/recept/"+ {{recept.pk}} +"/personen="+numPersons+"/";
      $('#ingredientenlijst').load(url + " li.quantity")
    }
  });
});
</script>

<!-- Submitting the note -->
<script type="text/javascript">
$('#submitnote').click(function() {
  var nota = CKEDITOR.instances['nota'].getData()
  jQuery.ajax({
    url: "/addnote/",
    success: function(data, textStatus, jqXHR) {
      $('#notas').append(data);
    },
    type: "POST",
    data: {
      recept_id: {{recept.pk}},
      nota: nota,
    }
  });
});

function verwijderNota(nota_id) {
  jQuery.ajax({
    url: '/deletenote/',
    data: {id: nota_id},
    success: function(data, textStatus, jqXHR) {
      $('#nota-'+nota_id).remove()
    }
  });
}
</script>

{% endblock %}
