{% extends "base.html" %}

{% block content %}
<h2>Welcome {{ user }}!</h2>

<div id="container">
  {% for recept in recepten %}
  <a href="/recept/{{ recept.id }}" class="recepttitel">
    <div class="recept">
      <div><h2 class="recepttitel">{{ recept.naam }}</h2></div>
      
      {% if recept.photoAvailable %}
      {% with recept.getAnyPhoto as foto %}
      <img src="/media/{{ foto.image.name }}" width="280px" class="receptfoto" />
      {% endwith %}
      {% endif %}
      
      <table class="receptinfo">
      	<tr class="entry">
      		<td class="icon"><img src="{{ STATIC_URL }}graphics/user.png" class="icon"></td>
      		<td class="info">{{ recept.user.username }}</td>
      	</tr>
      	
      	<tr class="entry">
      		<td class="icon"><img src="{{ STATIC_URL }}graphics/alarm_clock.png" class="icon"></td>
      		<td class="info">{{ recept.bereidingstijd }} minuten</td>
      	</tr>
      	
      	<tr class="entry">
      		<td class="icon"><img src="{{ STATIC_URL }}graphics/forkknife.png" class="icon"></td>
      		<td class="info">{{ recept.aantal_personen }} personen</td>
      	</tr>
      </table>
    </div>
  </a>
  {% endfor %}
</div>

<script>
  $(function(){
  var $container = $('#container');
  
  $container.imagesLoaded( function() {
  $container.masonry({
  itemSelector: '.recept'
  });
  });
  });
</script>


{% endblock %}
