{% extends "base.html" %}

{% block content %}
<div class="panel left">
<h1>Recept toevoegen</h1>
<form enctype="multipart/form-data" method="POST" action="/submit_recipe/">{% csrf_token %}
  <input type="hidden" value={% if recept %}{{ recept.pk }}{% else %}-1{% endif %} name="pk">
  {% for field in recept_form %}
    <div class="fieldwrapper">
    {{ field.label }}
    {{ field.errors }}
    <p>
    {{ field }}
    {% if field.label == "Bereidingstijd" %}min.{% endif %}
    </p>
    </div>
    {% if field.label == "Recept naam" %}
      <div class="fieldwrapper">
      {% for form in hoeveelheid_formset %}
        <div class="dynamic-form">
        <p>
          {% for field in form %}
            {{ field }}
          {% endfor %}
          <a href="javascript:void(0)" class="remove-row">Verwijder ingredient</a>
        </p>
        </div>
      {% endfor %}
      <a href="javascript:void(0)" class="add-row">Voeg ingredient toe</a>
      </div>
    {% endif %}
    {% if field.label == "Vegetarisch" %}
      <div class="fieldwrapper">
      <!-- Show present images if we are editing -->
      {% for foto in recept.fotos.all %}
        <div style="float: left" id="foto-{{ foto.pk }}" class="foto">
          <img src="{{ MEDIA_URL }}{{ foto.image.name }}" width=250/>
          <input type="button" value="Verwijder foto" onclick="verwijderImage({{ foto.pk }})" />
        </div>
      {% endfor %}
      <div class="dynamic-form-image">
      {% for form in image_formset %}
        <p>
          {% for field in form %}
            {{ field }}
          {% endfor %}
          <a href="javascript:void(0)" class="remove-row-image" style="display:none; float:right;">Verwijder foto</a>
        </p>
      {% endfor %}
      </div>
      <a href="javascript:void(0)" class="add-row-image">Voeg foto toe</a>
      </div>
    {% endif %}
  {% endfor %}
  {{ hoeveelheid_formset.management_form }}
  {{ image_formset.management_form }}
  <div class="submitbutton">
  <input type="submit" name="submit_recipe" value="Toevoegen" style="float: right">
  </div>
</form>
</div>

<!-- CHOSEN -->
<script src="{{ STATIC_URL }}chosen.jquery.js" type="text/javascript"></script>

<!-- OWN SCRIPTS -->
<script src="{{ STATIC_URL }}dynamic_forms.js" type="text/javascript"></script>
<script type="text/javascript"> 
$(document).ready(function(){
  $('.chzn-select').chosen();
  $('.chzn-select-removable').chosen({allow_single_deselect: true});
  $('.chzn-select-hoeveelheid').chosen({allow_single_deselect: true, no_results_text: "<a href='javascript:void(0)' id='no_results_text'>Voeg ingredient toe: </a><script type='text/javascript'>$('#no_results_text').click(ingredient_toevoegen);<\/script>"});
  $('.chzn-select-type').chosen({allow_single_deselect: true, no_results_text: "<a href='javascript:void(0)' id='no_results_text_type'>Voeg type gerecht toe: </a><script type='text/javascript'>$('#no_results_text_type').click(type_toevoegen);<\/script>"});
  $('.chzn-select-seizoen').chosen({allow_single_deselect: true});
  
  
  $('.add-row').click(function() {
    addForm(this, 'form', 'dynamic-form');
  });
  $('.remove-row').click(function() {
    removeForm(this, 'form', 'dynamic-form');
  });
  $('.add-row-image').click(function() {
    addForm(this, 'image_form', 'dynamic-form-image');
  });
  $('.remove-row-image').click(function() {
    removeForm(this, 'image_form', 'dynamic-form-image');
  });
});

function verwijderImage(image_id) {
    jQuery.ajax({
      url: '/deleteimage/',
      data: {id: image_id},
      success: function(data, textStatus, jqXHR) {
        $('#foto-'+image_id).remove()
      }
  });
}
</script>

<!-- Configuring the CKEditor instance of "id_bereiding" -->
<script type="text/javascript">
CKEDITOR.replace( 'id_bereiding', {
	toolbar: [
	  { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
	  { name: 'editing', groups: [ 'find', 'selection'] },
	  { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
	  { name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule'] },
	  { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source' ] },
	  { name: 'tools', items: [ 'Maximize' ] },
	  { name: 'others', items: [ '-' ] },
	  '/',
	  { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] },
	  { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
	  { name: 'styles', items: [ 'Styles', 'Format' ] },
	  { name: 'about', items: [ 'About' ] }
	],

  // Toolbar groups configuration.
  toolbarGroups: [
  	{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
  	{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
  	{ name: 'links' },
  	{ name: 'insert' },
  	{ name: 'forms' },
  	{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
  	{ name: 'tools' },
  	{ name: 'others' },
  	'/',
  	{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
  	{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
  	{ name: 'styles' },
  	{ name: 'colors' },
  	{ name: 'about' }
]});
</script>

{% endblock %}
