{% extends "base.html" %}

{% block content %}
<div class="panel left">
<h1>Recept toevoegen</h1>
<form enctype="multipart/form-data" method="POST">{% csrf_token %}
  {% for field in recept_form %}
    <div class="fieldwrapper">
    {{ field.label }}
    {{ field.errors }}
    <p>
    {{ field }}
    {% if field.label == "Bereidingstijd" %}min.{% endif %}
    </p>
    </div>
    {% if field.label == "Recept naam" %}
      <div class="fieldwrapper">
      {% for form in hoeveelheid_formset %}
        {% for field in form %}
        <p>{{ field }}</p>
        {% endfor %}
      {% endfor %}
      <input type="submit" name="add" value="Add">
      </div>
    {% endif %}
  {% endfor %}
  {{ hoeveelheid_formset.management_form }}
  <input type="submit" value="Toevoegen" style="float: right">
</form>
</div>

<div class="panel right">
<h1>Ingredient toevoegen</h1>
<form method="POST">{% csrf_token %}
  {% for field in ingredient_form %}
    <div class="fieldwrapper">
    {{ field.label }}
    <p>
    {{ field }}
    </p>
    </div>
  {% endfor %}
  {{ hoeveelheid_formset.management_form }}
  <input type="submit" value="Toevoegen" style="float: right">
</form>

</div>

{% endblock %}
